.audioplayer {
	width: 480px;
	height: 60px;
	margin: 50px auto auto auto;
	border: solid;
}

.playbutton {
	height: 60px;
	width: 60px;
	border: none;
	float: left;
	outline: none;
}

.play {
	background: url('http://www.alexkatz.me/codepen/images/play.png');
}

.pause {
	background: url('http://www.alexkatz.me/codepen/images/pause.png');
}

.play,
.pause {
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
}

.timeline {
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0, 0, 0, .3);
}

.playhead {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0, 1);
}